:root {
    --red: #ff3838;
    --grey: #666666;
    --logoOrange: #B4612D;
    --logoGreen: #6b9835;
    --headerFooter: rgb(209, 202, 191);
  }
.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}
.green{
    background-color: rgba(127,169,165,255);

}
.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(227 74 56);;
}

/* .btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(227 74 56);;
} */
.btn{
    display: inline-block;
    padding:7px 12px;
    border: 2px solid rgba(127,169,165,255);
    border-radius: 6px;
    color:#43423b;
    cursor: pointer;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    background-color:#dfd8b9 ;
    /* font-size: 1.7rem; */
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  .btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:#43423b;
    transition: .3s linear;
    z-index: -1;
  }
  
  .btn:hover::before{
    width:100%;
    left: 0;
  }
  
  .btn:hover{
    color:rgba(127,169,165,255);
  }
.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}